<div class="container-fluid p-1 shadow-base mt-3">
  <div layout="row">
    <div class="form-group has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input id="diseaseSearch" flex="90" type="text" class="form-control" [(ngModel)]="disease"
        [inputFormatter]="formatter" [ngbTypeahead]="search" placeholder="Search" [resultTemplate]="rt"
        (selectItem)="onDiseaseSelect($event)"/>
    </div>
  </div>
</div>
<ng-template #rt let-r="result" let-t="term">
  <span class="font-weight-bold">{{r.type.value.substring(r.type.value.lastIndexOf("/") + 1)}}: </span>
  <ngb-highlight [result]="toTitleCase(r.label.value)" [term]="t"></ngb-highlight>
</ng-template> 