<app-disease-search [diseaseList]="diseaseList" (selectedDisease)="onDiseaseSelect($event)"></app-disease-search>
<div class="container-fluid p-1 shadow-base mt-3">
  <div class="m-3 bd-content">
  <div class="row">
  <div class="col-md-8"> 
  <div class="row">
    <div class="col-md-3">
      <strong>Disease name:</strong>
    </div>
    <div class="col-md-9">
        <button type="button" class="btn btn-link p-0" 
        (click)="openInNewTab(d()['ddiem:iembaseUrl'] ? d()['ddiem:iembaseUrl'][0]['@value'] : d()['dc:identifier'][0]['@value'])"
          [ngbTooltip]="d()['rdfs:comment'] ? d()['rdfs:comment'][0]['@value'] : ''">
          {{toTitleCase(d()['rdfs:label'][0]['@value'])}}
        </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Gene affected:</strong>
    </div>
    <div class="col-md-9">
      <span *ngFor="let geneObj of genes; let geneIndex = index"> 
        <button type="button" class="btn btn-link p-0"  (click)="openInNewTab(geneObj['dc:identifier'][0]['@value'])">
          {{geneObj['rdfs:label'][0]['@value']}}</button><span *ngIf="geneIndex !== genes.length - 1">,</span> 
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Enzyme/ protein affected:</strong>
    </div>
    <div class="col-md-9">
      {{protienEffected ? protienEffected['rdfs:label'][0]['@value'] : ''}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>EC number:</strong>
    </div>
    <div class="col-md-9">
      <span *ngIf="protienEffected">
        <span *ngFor="let ecNum of protienEffected['ddiem:ecNumber']; let ecNumIndex = index">
          <button *ngIf="ecNum['@value'] !== ''" type="button" class="btn btn-link p-0"  (click)="openInNewTab(ecNumberUri(ecNum['@value']))">
              {{ecNum['@value']}}</button><span *ngIf="ecNumIndex !== protienEffected['ddiem:ecNumber'].length - 1">, </span> 
        </span>
        <span *ngIf="protienEffected['ddiem:ecNumber'] && protienEffected['ddiem:ecNumber'][0]['@value'] !== '' && protienEffected['ddiem:uniprotId'] && protienEffected['ddiem:uniprotId'][0]['@value'] !== ''"> / </span>
        <span *ngFor="let uniprotId of protienEffected['ddiem:uniprotId']; let uniprotIdIndex = index">
          <button *ngIf="uniprotId['@value'] !== ''" type="button" class="btn btn-link p-0"  (click)="openInNewTab(uniprotUri(uniprotId['@value']))">
              {{uniprotId['@value']}}
          </button><span *ngIf="uniprotIdIndex !== protienEffected['ddiem:uniprotId'].length - 1">, </span> 
        </span>
      </span>
    </div>
  </div>
  </div>
  </div>
  </div>
</div>
<div class="container-fluid p-1 shadow-base mt-3">
    <h5 class="p-3">Treatments</h5>
    <hr />
    <div class="col-11 m-3 bd-content">
      <div class="row">
        <div class="d-flex justify-content-center" *ngIf="procedures.length == 0">No treatment is available in DDIEM</div>
        <table class="table table-bordered" *ngIf="procedures.length > 0">
          <thead>
            <tr>
              <th scope="col">Drug Names</th>
              <th scope="col">Type</th>
              <th scope="col">Study Type</th>
              <th scope="col">Phenotypes Corrected</th>
              <th scope="col" *ngIf="isMutationExists">Mutations improved by treatment</th>
              <th scope="col" *ngIf="isMutationExists">Mutation that didn't get benefits out the treatment</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
              <ng-container *ngFor="let procedure of procedures">
              <tr *ngFor="let phenotype of (procedure['obo:RO_0002212'] && procedure['obo:RO_0002212'].length > 0 ? procedure['obo:RO_0002212'] : [{}]); let phenotypeIndex = index">
                <td [ngClass]="{'w-25': isMutationExists, 'w-30': !isMutationExists}" [attr.rowspan] = "procedure['obo:RO_0002212'] ? procedure['obo:RO_0002212'].length : 1"  *ngIf="phenotypeIndex === 0">
                  <span *ngFor="let drugAnd of procedure['obo:RO_0000057']; let index = index">
                    <span *ngFor="let drugOr of findAltList(drugAnd['@id']); let orIndex = index">
              
                      <button type="button" class="btn btn-link p-0" [ngbTooltip]="procedure['rdfs:comment'] ? procedure['rdfs:comment'][0]['@value'] : ''"
                        (click)="openInNewTab(drugOr['ddiem:url'] ? drugOr['ddiem:url']['0']['@value']: '')">
                          {{drugOr['rdfs:label']['0']['@value']}}
                      </button>
                      <span *ngIf="orIndex !== findAltList(drugAnd['@id']).length - 1" class="font-weight-bold"> or </span> 
                    </span>
                    <span *ngIf="index !== procedure['obo:RO_0000057'].length - 1 && findAltList(drugAnd['@id']).length > 0" class="font-weight-bold"> and </span>
                  </span> 
                  (<button type="button" class="btn btn-link p-0" ngbTooltip="Number of trials/papers that describe treatment">
                   <strong>{{procedure['dc:provenance'] ?  procedure['dc:provenance'].length : '0'}}</strong></button>)
                </td>
                <td [ngClass]="{'w-20': isMutationExists, 'w-30': !isMutationExists}" [attr.rowspan] = "procedure['obo:RO_0002212'] ? procedure['obo:RO_0002212'].length : 1"  *ngIf="phenotypeIndex === 0">
                  {{procedure['rdfs:subClassOf'] ? findProcedureData(procedure['rdfs:subClassOf'][0]['@id'])['rdfs:label']['0']['@value'] : ''}}
                </td>
                <td [attr.rowspan] = "procedure['obo:RO_0002212'] ? procedure['obo:RO_0002212'].length : 1" *ngIf="phenotypeIndex === 0" > 
                  <span *ngIf="procedure['obo:RO_0002558']">
                    <span *ngFor="let evidence of procedure['obo:RO_0002558']; let evidenceIdx = index"> 
                      <button type="button" class="btn btn-link p-0" (click)="openInNewTab(evidenceUrl(evidence['@id']))">
                        {{evidenceName(evidence['@id'])}} 
                      </button>
                      <span *ngIf="evidenceIdx !== procedure['obo:RO_0002558'].length - 1">,</span> </span>
                  </span>
                </td>
                <td [ngClass]="{'w-25': isMutationExists, 'w-30': !isMutationExists}">
                  <span *ngIf="phenotype['@id']">
                    <button type="button" class="btn btn-link p-0" (click)="openInNewTab(phenotypeUrl(phenotype['@id']))"
                    [ngbTooltip]="phenotypeRes(phenotype['@id'])['rdfs:comment'] ? phenotypeRes(phenotype['@id'])['rdfs:comment'][0]['@value'] : ''">
                      {{phenotypeRes(phenotype['@id'])['rdfs:label'][0]['@value']}}
                    </button>
                  </span>
                </td>

                <td scope="col" *ngIf="isMutationExists">{{procedure['obo:RO_0003304'] ? procedure['obo:RO_0003304'][0]['@value'] : ''}}</td>
                <td scope="col" *ngIf="isMutationExists">{{procedure['dc:failedToContributeToCondition'] ? procedure['dc:failedToContributeToCondition'][0]['@value'] : ''}}</td>
                <td >
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-link p-0 grid-link" id="references" ngbDropdownToggle>References</button>
                      <div ngbDropdownMenu>
                        <button ngbDropdownItem *ngFor="let reference of procedure['dc:provenance']" 
                          class="btn btn-link p-2" (click)="openInNewTab(reference['@value'])">
                          {{referenceDisplay(reference['@value']) | ellipsis:30 }}
                        </button>
                      </div>
                    </div>
                </td>
              </tr>
              </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
