/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";


body {
    background-color:  #f4f5fb !important;
    font-family: Times New Roman;
}

.container {
    background-color: white;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.shadow-base {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
    border-radius: 3px;
}

.bg-teal-gradient {
    background-image: linear-gradient(45deg,#00dcaf 0,#7536e6 100%);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

.font-13 {
    font-size: 13px!important;
}
#contact-us .btn:focus {
    outline: none !important;
}
.grid-link {
    color: #212529 !important;
}