<app-disease-search [diseaseList]="diseaseList" (selectedDisease)="onDiseaseSelect($event)"></app-disease-search>
<div class="container p-1 shadow-base mt-3" flex="90">

  <div class="col-11 m-3 bd-content">
  <div class="row">
    <div class="col-md-3">
      <strong>Disease name:</strong>
    </div>
    <div class="col-md-7">
      {{d()['ddiem:has_disease_name'][0]['@value']}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Gene affected:</strong>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-link" (click)="openInNewTab(gene()['ddiem:gene_id'][0]['@id'])">{{gene()['ddiem:has_name'][0]['@value']}}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Enzyme/ protein affected:</strong>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>EC number:</strong>
    </div>
    <div class="col-md-3">
        {{ec_number()}}
    </div>
  </div>
  </div>
</div>
<div class="container p-1 shadow-base mt-3" flex="90">

    <div class="col-11 m-3 bd-content">
      <div class="row">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" class="col-md-4">Drug Names</th>
              <th scope="col" class="col-md-5">Phenotypes Corrected</th>
              <th scope="col" class="col-md-3">Reference</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ds of datasets">
              <td class="col-md-4"><span *ngFor="let drug of ds?.drugs; let index = index">{{drug['ddiem:has_name'][0]['@value']}} </span></td>
              <td class="col-md-5">{{phenotype(ds)}}</td>
              <td class="col-md-3"><button type="button" class="btn btn-link" (click)="openPubmedRef(reference(ds))">{{reference(ds) | ellipsis:50}}</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
