.Mechanistic-A  {
 	color: #000000;
  	background-color:#d9eaf4   ;
  	border-color: #000000; }

 .Mechanistic-B {
  	color: #000000;
  	background-color: #E3D8F6;
  	border-color: #000000;}

 .Symptomatic {
  	color: #000000;
  	background-color: #d0fdf4;
  	border-color: #000000; }

  .text-Mechanistic-A {
  color: #4397c7 !important; }

  .text-Mechanistic-B {
  color: #6658db !important; }

  .text-Symptomatic {
  color: #09d8af !important; }

  ul.menu li {
   display:inline 

}
li.menu-li{
	padding-right: 5px;
}
table, th, td {
  border: .5px solid #c1c1c1;

}
.ref{
	  width: 100px;
}