<div class="container-fluid p-1 shadow-base mt-3">
  <div class="col-12 py-md-3 pl-md-5 bd-content">
    <h3>DDIEM - Drug database for inborn error of metabolism</h3>
    <div class="row">
      <br>
    </div>
    <div class="row">
          <div class="col-md-10">
              <p>
                  Welcome to DDIEM, Drug database for inborn errors of metabolism. DDIEM database is a database on therapeutic strategies for inborn errors of metabolism. 
                  These strategies are classified by mechanism and outcome in <button type="button" class="btn btn-link font-0 p-0" (click)="openInNewTab('http://aber-owl.net/ontology/DDIEM')">DDIEM ontology</button>. DDIEM uses this ontology to categorise the experimental treatments that have been proposed 
                  or applied. It includes descriptions of the phenotypes addressed by the treatment and drugs participating in treatment and procedures.<br /><br />

                  DDIEM is jointly developed by researchers from <button type="button" class="btn btn-link font-14 p-0" (click)="openInNewTab('https://borg.kaust.edu.sa')">KAUST BORG</button> and <button type="button" class="btn btn-link font-0 p-0" (click)="openInNewTab('https://www.pdn.cam.ac.uk/directory/paul-schofield')">University of Cambridge</button>.
              </p>
          </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-3" style="background-color: #f4f5fb;padding-right: 0px;padding-left: 0px;">
 <div class="row">
  <div class="col-3">
    <div class="card card-sm">
      <div class="card-body">
        <div class="d-flex justify-content-between ddiem-mb-5">
          <div>
            <span class="d-block font-15 text-dark font-weight-500">Diseases</span>
          </div>
        </div>
        <div class="text-center">
          <span class="d-block display-4 text-dark ddiem-mb-5">{{stats[0]?.disease_count.value}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card card-sm">
      <div class="card-body">
        <div class="d-flex justify-content-between ddiem-mb-5">
          <div>
            <span class="d-block font-15 text-dark font-weight-500">Drugs</span>
          </div>
        </div>
        <div class="text-center">
          <span class="d-block display-4 text-dark ddiem-mb-5">{{stats[0]?.drug_count.value}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card card-sm">
      <div class="card-body">
        <div class="d-flex justify-content-between ddiem-mb-5">
          <div>
            <span class="d-block font-15 text-dark font-weight-500">Phenotypes</span>
          </div>
        </div>
        <div class="text-center">
          <span class="d-block display-4 text-dark ddiem-mb-5">{{stats[0]?.phenotype_count.value}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card card-sm">
      <div class="card-body">
        <div class="d-flex justify-content-between ddiem-mb-5">
          <div>
            <span class="d-block font-15 text-dark font-weight-500">References</span>
          </div>
        </div>
        <div class="text-center">
          <span class="d-block display-4 text-dark ddiem-mb-5">{{stats[0]?.reference_count.value}}</span>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="container-fluid p-1 shadow-base mt-3 ">
  <div class="col-12 py-md-3 pl-md-5 bd-content">
  <h3>Contributors</h3>
  <div class="row border-0 shadow mb-4 mr-4">
   <div class="col-1">
      <img src="assets/img/blank.jpg?Width=100&Height=100"  width="100" height="100" alt="..." class="p-2" />
    </div>
    <div class="card-body col-4">
      <h5 class="card-title mb-0">Ali Raza Syed</h5>
      <div class="card-text text-black-50">Research Specialist, KAUST</div>
      <div class="card-text"><button type="button" class="btn btn-link font-14 p-0" (click)="openInNewTab('mailto:ali.syed@kaust.edu.sa')">ali.syed@kaust.edu.sa</button></div>
    </div>
    <div class="col-1">
      <img src="assets/img/blank.jpg?Width=100&Height=100"  width="100" height="100" alt="..." class="p-2" />
    </div>
    <div class="card-body col-4">
      <h5 class="card-title mb-0">Allan Kamau</h5>
      <div class="card-text text-black-50">Database Administrator/Developer, KAUST</div>
      <div class="card-text"><button type="button" class="btn btn-link font-14 p-0" (click)="openInNewTab('mailto:allan.kamau@kaust.edu.sa')">allan.kamau@kaust.edu.sa</button></div>
    </div>
  </div>
  <div class="row border-0 shadow mb-4 mr-4">
      <div class="col-1">
        <img src="assets/img/blank.jpg?Width=100&Height=100" width="100" height="100" alt="..." class="p-2" />
      </div>
      <div class="card-body col-4">
        <h5 class="card-title mb-0">Dr Paul Schofield</h5>
        <div class="card-text text-black-50">Reader in Biomedical Informatics, University of Cambridge</div>
        <div class="card-text"><button type="button" class="btn btn-link font-14 p-0" (click)="openInNewTab('mailto:pns12@cam.ac.uk')">pns12@cam.ac.uk</button></div>
      </div>
      <div class="col-1">
        <img src="assets/img/blank.jpg?Width=100&Height=100" width="100" height="100" alt="..." class="p-2" />
      </div>
      <div class="card-body col-4">
        <h5 class="card-title mb-0">Eunice McMurray</h5>
        <div class="card-text text-black-50">Biocurator, University of Cambridge</div>
       <div class="card-text"><button type="button" class="btn btn-link font-14 p-0" (click)="openInNewTab('mailto:eym24@cam.ac.uk')">eym24@cam.ac.uk</button></div>
      </div>
  </div>
  <div class="row border-0 shadow mb-4 mr-4">
    <div class="col-1">
        <img src="assets/img/Abdelhakim_135px.png?Width=100&Height=100" width="100" height="100" alt="..." class="p-2" />
      </div>
      <div class="card-body col-4">
        <h5 class="card-title mb-0">Marwa Abdelhakim</h5>
        <div class="card-text text-black-50">​Scientific Curator, KAUST​</div>
        <div class="card-text"><button type="button" class="btn btn-link font-14 p-0" (click)="openInNewTab('mailto:marwa.abdelhakim@kaust.edu.sa')">marwa.abdelhakim@kaust.edu.sa</button></div>
      </div>
    <div class="col-1">
      <img src="assets/img/Hoehndorf_135px.png?Width=100&Height=100" width="100" height="100" alt="..." class="p-2" />
    </div>
      <div class="card-body col-4">
        <h5 class="card-title mb-0">Robert Hoehndorf</h5>
        <div class="card-text text-black-50">Assistant Professor​​​, Computer Science​​, KAUST</div>
        <div class="card-text"><button type="button" class="btn btn-link font-14 p-0" (click)="openInNewTab('mailto:robert.hoehndorf@kaust.edu.sa')">robert.hoehndorf@kaust.edu.sa</button></div>
    </div>
  </div>
  <div class="row border-0 shadow mb-4 mr-4">
    <div class="col-1">
      <img src="assets/img/SenayKafkas.png" width="100" height="100" alt="..." class="p-2" />
    </div>
    <div class="card-body col-4">
      <h5 class="card-title mb-0">Senay Kafkas</h5>
      <div class="card-text text-black-50">​Research Scientist, KAUST​</div>
      <div class="card-text"><button type="button" class="btn btn-link font-14 p-0" (click)="openInNewTab('mailto:senay.kafkas@kaust.edu.sa')">senay.kafkas@kaust.edu.sa</button></div>
    </div>
  </div>
  </div>
</div>

