<div class="page-header">
  <div class="container-fluid">
    <h1>About</h1>
  </div>
</div>
<div class="container-fluid p-1 shadow-base mt-3">
  <h3>DDIEM - Drug database for inborn error of metabolism</h3>
  <div class="row">
    <br>
  </div>
  <div class="row">
        <div class="col-md-8">
            <p>
                Welcome to DDIEM, Drug database for inborn error of metabolism. 
            </p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
            <img src="">
        </div>
  </div>
</div>

