<!--The content below is only a placeholder and can be replaced.-->
<body>
  <div class="page-wrapper">
      <nav class="navbar navbar-expand navbar-dark bg-teal-gradient">
          <a class="navbar-brand" href="#">DDIEM</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" routerLink="home">Home<span class="sr-only">(current)</span></a>
            </div>
            <div class="navbar-nav">
              <a class="nav-item nav-link" routerLink="disease-list">List of Disease<span class="sr-only">(current)</span></a>
            </div>
            <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="sparql">SPARQL<span class="sr-only">(current)</span></a>
              </div>
          </div>
        </nav>
  </div>
  <footer class="footer font-small blue pt-2  mt-auto bg-teal-gradient pl-5">
      <div class="font-13">Report and issues at 
        <button type="button" class="btn btn-link font-13" (click)="openInNewTab('https://github.com/bio-ontology-research-group/DDIEM/issues')"><u>the issue tracker</u></button>
        <br /> <b>© 2018  BORG, CBRC, KAUST</b> 
      </div>     
  </footer>
</body>

<router-outlet></router-outlet>
