<!--The content below is only a placeholder and can be replaced.-->
<body>
  <div class="page-wrapper">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" routerLink="home">Home<span class="sr-only">(current)</span></a>
            </div>
            <div class="navbar-nav">
              <a class="nav-item nav-link" routerLink="disease-list">List of Disease<span class="sr-only">(current)</span></a>
            </div>
          </div>
        </nav>
      <!-- END TOP NAVBAR-->
      <!-- <div class="wrapper content-wrapper">
          <footer class="page-footer">
              <div class="font-13">Report and issues at <a href="https://github.com/bio-ontology-research-group/DDIEM/issues" target="_blank"><u>the issue tracker</u></a></br> <b>© 2018  BORG, CBRC, KAUST</b> </div>
              <div class="to-top"><i class="fa fa-angle-double-up"></i></div>
          </footer>
      </div> -->
  </div>
</body>

<router-outlet></router-outlet>
