<app-disease-search [diseaseList]="diseaseList" (selectedDisease)="onDiseaseSelect($event)"></app-disease-search>
<div class="container p-1 shadow-base mt-3" flex="90">

  <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
    <p>Search suggestions:</p>
      <ul>
        <li>Type the name of the Disease or OMIM number into the box and touch find or enter to begin search.</li>
        <li>If you don't know exactly the disease name, try searching on the beginning of the disease name e.g. "Adenosine "</li>
        <li>You can then select best match from the results list.</li>
        <li>To search by OMIM number , be sure to have the digits correctly</li>
      </ul>
  </div>
</div>
